extends layout

block content

  #divEvaluacionesGeneral.col-sm-12
      .my-content
        .container
          .row
            .col-lg-12.col-lg-offset-3.myform-cont
              .myform-top
                .myform-top-left
                  h3 #{nombre} - Listado de Evaluaciones
              .myform-bottom
                #divEvaluaciones.container
                  table#tablaEvaluaciones.table.table-hover
                    tbody
                      each val in evaluaciones
                        tr
                          td
                            #{val.evaluacion}
