doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/estiloInicial.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
  body
     div
       head
         nav.navbar.fixed-top.navbar-toggleable-sm.navbar-light
           a.navbar-brand(href="/")
             img(src="/images/logo_UNS.png" width="50" height="50" alt="UNS")
             |                UNS

  block content
  script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
  script(src='/javascripts/main.js')
