extends layout

block content
    #ventana_login.my-content
      .container
        .row
          .col-md-8.col-md-offset-3.myform-cont
            .myform-top
              .myform-top-left
                h3 Ingresa a nuestro sitio.
                p Digita tu usuario y contraseña:

              div
              .myform-top-right
                i.fa.fa-user
            .myform-bottom
              unless success
                if errors
                  div(class="alert alert-danger" role="alert")
                    each val in errors
                      a(class="alert-link")
                        Error #{val.msg}

                      
              form(role="form" action="" method="post")
                .form-group
                  input#form-username.form-control(type="text" name="username" placeholder="Usuario...")
                .form-group
                  input#form-password.form-control(type="password" name="password" placeholder="Contraseña...")
                .form-group
                  button#iniciar_sesion.mybtn(type="submit") Entrar
                .form-group
                  a(href="/auth/twitter") Log In with Twitter
                .form-group
                  a(href="/register") Registrarse
