extends layout

block content
  #ventana_registro.my-content
      .container
        .row
          .col-sm-6.col-sm-offset-3.myform-cont
            .myform-top
              .myform-top-left
                h3 Regístrate en nuestro sitio.
                p Por favor ingresa tus datos personales:
              .myform-top-right
                i.fa.fa-user
            #miboton.myform-bottom
              form(role="form" action="" method="post")
                .form-group
                  div#div_nombre.form-group
                    input#form-firtsname.form-control(type="text" name="nombre" placeholder="Nombres...")
                .form-group
                  div#div_apellido.form-group
                    input#form-lastname.form-control(type="text" name="apellido" placeholder="Apellidos...")
                .form-group
                  div#div_email.form-group(class="input-group")
                    input#id_email.form-control(type="text" name="email" placeholder="Email...")
                .form-group
                  div#div_email_conf.form-group(class="input-group")
                    input#id_email_conf.form-control(type="text" name="email-conf" placeholder="Confirmar Email...")
                .form-group
                  div#div_password.form-group(class="input-group")
                    input#id_password.form-control(type="password" name="password" placeholder="Contraseña...")
                .form-group
                  div#div_password_conf.form-group(class="input-group")
                    input#id_password_conf.form-control(type="password" name="password-conf" placeholder="Confirmar contraseña...")
                .form-group
                  button#register.mybtn(type="submit") Registrarme
                .form-group
                  a(href="/") Volver



block scripts-extra
  script(src='/javascripts/alertas.js')
